form{
    background-color: rgb(84, 54, 136);
    text-align: center;
    font-size: 3em;
    width: 700px;
    margin: 0 auto;
    margin-top: 10%;
    height: 600px;
    border-radius: 5%;
}

form input, textarea{
    
    line-height: 50px;
    width: 95%;
}


form button{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 20px;


    transition: .3s;
}

form button:hover{
    background-color: chartreuse;
    transform: translateY(-10px);

}