

*{
    margin: 0;
    font-family: 'Montserrat','sans-serif';
}

.App{
    background-image: url('cargo-ships-the-workhorses-that-power-global-trade-crossing-the-sea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
